<?xml version="1.0"?>
<launch>

    <node pkg="collect_calib_data" 
          type="ts_server"
          name="ptu_ts_server" 
          output="screen" />

    <node pkg="collect_calib_data" 
          type="calib_velodyne"
          name="calib_velodyne_ptu" 
          output="screen" >
        <rosparam>
            dir_path: /datas/velodyne_calib/
            file_name: calib
            pitch: 0.0
        </rosparam>
    </node>

</launch>
